@import "tailwindcss";

@variant dark (&:is(.dark *));

/* palette personnalisée Tailwind */
@theme {
  --color-molten-lava: #780000;
  --color-brick-red: #c1121f;
  --color-papaya-whip: #fdf0d5;
  --color-deep-space-blue: #003049;
  --color-steel-blue: #669bbc;
}